body{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-yellow{
    background-color: #FFC017; 
}

.border-bottom-dark{
    border-bottom: 1px solid #414141;
}

.aside-buttons>li {
    margin-bottom: 10px;


}

.nav-btn {
    border-radius: 99em;

}

